<div class="big-text">MOST POPULAR</div>

<div class="card-container">
  <div class="card">
    <img src="../assets/paris.jpg" alt="Paris" />
    <h2>The City</h2>
    <p>Card Description 1</p>
    <div class="button">
        <button class="green-btn">
            DISCOVER NOW!
          </button>
      </div>
</div>

<div class="card">
    <img src="../assets/london.jpg" alt="London" />
    <h2>The City</h2>
    <p>Card Description 2</p>
    <div class="button">
        <button class="green-btn">
            DISCOVER NOW!
          </button>
      </div>
</div>

<div class="card">
    <img src="../assets/korea.jpg" alt="Korea" />
    <h2>The City</h2>
    <p>Card Description 3</p>
    <div class="button">
        <button class="green-btn">
            DISCOVER NOW!
          </button>
      </div>
  </div>
  
  <div class="card">
    <img src="../assets/busan.jpg" alt="Busan" />
    <h2>The City</h2>
    <p>Card Description 4</p>
    <div class="button">
        <button class="green-btn">
            DISCOVER NOW!
          </button>
      </div>
  </div>

  <div class="card">
    <img src="../assets/budapesta.jpg" alt="Budapesta" />
    <h2>The City</h2>
    <p>Card Description 5</p>
    <div class="button">
        <button class="green-btn">
            DISCOVER NOW!
          </button>
      </div>
  </div>

  <div class="card">
    <img src="../assets/spain.jpg" alt="Spain" />
    <h2>The City</h2>
    <p>Card Description 6</p>
    <div class="button">
        <button class="green-btn">
            DISCOVER NOW!
          </button>
      </div>
  </div>
  
</div>
