.big-text {

    text-align: center;
    color: lightgreen;

  font-size: 30px;
  padding: 10px;
  border-bottom: 2px solid lightgray;

}

// .box-pair {
//     display: flex;
//     justify-content: space-around;

//     img{
//         width: 350px;
//         height: 200px;
//     }
  
//     .box {
//       width: 400px;
//       height: 300px;
//       border: 0px solid black;
//       margin: 10px;
//       padding: 10px;
//       transition: all 0.4s;
  
//       h3 {
//         color: lightgreen;
//       }
  
//       p {
//         color: darkgray;
//       }
//     }
   
//   }

.card-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        width: 30%;
        margin-bottom: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: left;
        padding: 20px;
      }
      
      img {
        width: 100%;
        height: auto;
      }
      
      h2 {
        margin-top: 10px;
        font-size: 1.5rem;
        color: lightgreen;
      }
      
      p {
        margin-top: 10px;
        font-size: 1.2rem;
      }

      .button {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        height: 100px; 
    
        .green-btn {
            width: 150px; 
            height: 50px; 
            background-color: lightgreen;
            color: white;
            border: none;
            border-radius: 5px;
          }
      }
  }
  
  