<div class="search-text">Search & Book all out destinations</div>
<div class="search-container">
  <input type="text" placeholder="Search..." />
  <button type="submit"><i class="search">Search</i></button>
</div>

<div class="big-text">
    OUR SERVICES
</div>

<div class="box-pair">
  <div class="box">
    <h3>TRAVEL</h3>
    <h5>Article title</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="box">
    <h3>TRAVEL ARRANGEMENTS</h3>
    <h5>Article title</h5>
    <p>Nulla facilisi. Vivamus a lacus nec sapien ultrices.</p>
  </div>
</div>

<div class="box-pair">
  <div class="box">
    <h3>OUR PROFESSIONAL GUIDE</h3>
    <h5>Article title</h5>
    <p>Sed vel ornare est, eu suscipit nunc.</p>
  </div>

  <div class="box">
    <h3>ACTIVITIES</h3>
    <h5>Article title</h5>
    <p>Phasellus quis neque libero. Nam blandit justo mi.</p>
  </div>
</div>
